<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="FreelancerHiringEntities" connectionString="metadata=res://*/FreelancerHiring.csdl|res://*/FreelancerHiring.ssdl|res://*/FreelancerHiring.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HAMLL011\SQLEXPRESS;initial catalog=FreelancerHiring;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings></configuration>