<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Microsoft.Practices.Prism.Modularity.ModulesConfigurationSection, Microsoft.Practices.Prism.Composition"/>
    
  </configSections>
  <connectionStrings>
    <add name="FreelancerHiringEntities" connectionString="metadata=res://*/FreelancerHiring.csdl|res://*/FreelancerHiring.ssdl|res://*/FreelancerHiring.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HAMLL011\SQLEXPRESS;initial catalog=FreelancerHiring;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <modules>
    <module assemblyFile="FreelancerHR.Modules.Compagy.dll" moduleType="FreelancerHR.Modules.Compagy, FreelancerHR.Modules.Compagy, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="CompagnyModule" startupLoaded="true"/>
    <module assemblyFile="FreelancerHR.Modules.Freelancer.dll" moduleType="FreelancerHR.Modules.Freelancer, FreelancerHR.Modules.Freelancer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="FreelancerModule" startupLoaded="true"/>
    <module assemblyFile="FreelancerHR.Modules.Hiring.dll" moduleType="FreelancerHR.Modules.Hiring, FreelancerHR.Modules.Hiring, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="HiringModule" startupLoaded="true"/>
  </modules>

  <system.diagnostics>
    <sources>
      <source name="System.ComponentModel.Composition"
              switchValue="All">
        <listeners>
          <add name="fileListener"
               type="System.Diagnostics.TextWriterTraceListener"
               initializeData="composition.log" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" indentsize="4" />
  </system.diagnostics>


</configuration>
